*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Lobster', cursive; */
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 130px;
}
.box h1{
  font-size: 4rem;
}
.butn{
  font-size: 3.7rem;
  margin: 0 20px;
  position: relative;
  top: 40px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  padding: 10px;
  cursor: pointer;
  color: #55E6C1;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.butn2{
  font-size: 3.7rem;
  padding: 10px;
  color: #ff4757;
  cursor: pointer;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  margin: 0 20px;
  position: relative;
  top: 40px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}