.cont{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Courier New', Courier, monospace;
  text-transform: capitalize;
}
.box{
  flex-basis: 350px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 10px;
  padding: 10px;
}